@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f1f5f9;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

/* Custom Ultra-Compact Leaflet Popup */
.compact-custom-popup .leaflet-popup-content-wrapper {
  padding: 0;
  border-radius: 6px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.compact-custom-popup .leaflet-popup-content {
  margin: 0;
  line-height: 1.2;
}

.compact-custom-popup .leaflet-popup-tip {
  background: white;
}
